/* Nationalpark Hohe Tauern */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
}

main {
    max-width: 1100px;
    margin: auto;
    text-align: justify;
}

header {
    display: grid;
    grid-template-columns: 80% 20%;
}

header h2 {
    margin: 0;
}

header nav {
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 1em;
}

article {
    margin-top: 0.5em;
}

#map {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
}

footer nav {
    display: inline-block;
}

#profile {
    margin-top: 0.3em;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 10px;
}


.summary {
    margin-bottom: 2em;
}

.summary-badge {
    display: inline-block;
    padding: 0.4em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 0.5em;
}

.buttons {
    color:rgb(255, 255, 255);
    display: inline-block;
    padding: 0.4em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 0.5em;
}

.github{
    position: absolute;
    display: inline-block;
    right: 5em;
    top: 0;
    margin-right: 0.5em;
    padding: 0.4em;
}

.touren{
    --ele-area: #78dcefa8;
      --ele-bg: white;
}

.backbutton{
    position: absolute;
    display: inline-block;
    right: 5em;
    color:rgb(255, 255, 255);
    padding: 0.4em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 0.5em;
}

/* CSS für HTML Text aus- einklappen */

details {
    border: thin solid;
    background: #78dcefa8;
    padding: 0.4em 1em;
    margin-bottom: 15px;
    border-radius: 10px;
};

summary {
    position: relative;
    padding-left: 1em;
    font-weight: 300;
};

details[open] summary {
    margin-bottom: 0.4em;
};
